aiohttp==3.11
pandas==2.2
pdf2image==1.17
PyMuPDF==1.25
pytesseract==0.3
transformers==4.48
python-dotenv==1.0
scikit-learn==1.6
torch @ https://download.pytorch.org/whl/cpu/torch-2.5.1%2Bcpu-cp312-cp312-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.20.1%2Bcpu-cp312-cp312-linux_x86_64.whl