@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	input,
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='url'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='week'],
	input[type='time'],
	input[type='color'],
	input[type='file'],
	input[type='range'],
	textarea,
	select {
		@apply appearance-none border-none outline-none ring-0;

		&:focus {
			@apply border-none outline-none ring-0;
		}

		&:focus-visible {
			@apply border-none outline-none ring-0;
		}
	}
}

.logo-container svg {
	transition: all 0.3s;
}

.dark .logo-container svg text {
	fill: #ffffff;
}

.simple-loader {
	--b: 20px; /* border thickness */
	--n: 15; /* number of dashes*/
	--g: 7deg; /* gap  between dashes*/
	--c: #2596be; /* the color */

	width: 40px; /* size */
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 1px; /* get rid of bad outlines */
	background: conic-gradient(#0000, var(--c)) content-box;
	--_m: /* we use +/-1deg between colors to avoid jagged edges */ repeating-conic-gradient(
			#0000 0deg,
			#000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
			#0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
		),
		radial-gradient(farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: destination-in;
	mask-composite: intersect;
	animation: load 1s infinite steps(var(--n));
}
@keyframes load {
	to {
		transform: rotate(1turn);
	}
}

pre {
	display: flex; /* Allows child elements to stretch */
	padding: 0 !important; /* Reset padding */
	margin: 0 !important; /* Reset margin */
	width: 100%; /* Take full width */
	height: 100%; /* Take full height */
	overflow: auto; /* Enable scrolling for overflowing content */
	background: transparent; /* Match desired background color */
}

pre code {
	flex: 1; /* Make the code element take the full space */
	display: block; /* Ensure it behaves like a block-level element */
	white-space: pre-wrap; /* Wrap long lines */
	word-wrap: break-word; /* Handle long words gracefully */
}

.group:hover .timeline-node {
	@apply scale-125 shadow-lg;
}

@layer components {
	.animate-pulse {
		animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
